<div class="container-title">
  <h1>Ng Arc Progress</h1>
  <h2>Angular 5 component to track progress using arc</h2>
  <h3>
    <span>
      <a href="https://github.com/elmeerr/ng2-arc-progress" target="_blank">Github</a>
    </span>
    <span>
      <a href="https://www.npmjs.com/package/angular2-arc-progress" target="_blank">npm</a>
    </span>
  </h3>
</div>
<div class="container">
  <div class="arc-controls">

    <div style="display: inline;">
      <p>
        Change progress:<input id="txtProgressRange"
                               #rangeInput
                               type="range"
                               min="0"
                               max="100"
                               (change)="updateProgress($event)"
                               value="50"
                               style="vertical-align: middle;"/>
      </p>
    </div>
    <span>Progress value: {{progressValue}}</span>

    <div style="display: inline;">
      <p>Change size: <input id="txtArcSize" #ArcSize step="1" type="range" min="100" max="600"
                             (change)="updateSize($event)"
                             value="300" style="vertical-align: middle;"/>
      </p>
    </div>
    <span>Arc container size: {{arcSizeValue}}</span>

    <div style="display: inline;">
      <p>Change gap: <input id="txtStartAngle" #ArcGap step="1" type="range" min="0" max="90"
                            (change)="updateGap($event)"
                            value="90" style="vertical-align: middle;"/>
      </p>
    </div>
    <span>Arc gap: {{arcGapValue}}</span>

    <div style="display: inline;">
      <p>Arc background color:
        <select #selectBackground (change)="updateBackgroundColor($event)">
          <option value="lightgrey" selected>Lightgrey</option>
          <option value="red">Red</option>
          <option value="yellow">Yellow</option>
          <option value="blue">Blue</option>
        </select>
      </p>
    </div>
    <span>Selected background color: {{arcBackgroundColor}}</span>
    <div style="display: inline;">
      <p>Arc progress:
        <select #selectFill (change)="updateFillColor($event)">
          <option value="lightsteelblue" selected>Lightsteelblue</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
          <option value="pink">Pink</option>
        </select>
      </p>
    </div>
    <span>Selected fill color: {{arcFillColor}}</span>
    <div style="display: inline;">
      <p>Change stroke width: <input id="txtStrokeWidth" #strokeWidth type="range" min="1" max="10"
                                     (change)="updateStroke($event)"
                                     value="5" style="vertical-align: middle;"/>
      </p>
    </div>
    <span>Arc stroke width: {{arcStrokeWidth}}</span>
  </div>
  <div class="arc-draw">
    <ng2-arc-progress [progress]="progressValue"
                      [size]="arcSizeValue"
                      [gap]="arcGapValue"
                      [backgroundColor]="arcBackgroundColor"
                      [progressColor]="arcFillColor"
                      [strokeWidth]="arcStrokeWidth"
    ></ng2-arc-progress>
  </div>
</div>

